.tile{
	width: 100px;
	height: 100px;
	border:1px solid red;
}

.cell-data {
    border-radius: 50px;
    background: rgba(140,100,140,1);
    margin-left:auto;
    margin-right: auto;
    color:transparent;
    cursor: default;

}

.cell-data:hover{
	-webkit-transform:scale(1.4);
	background: rgba(110,60,110,1);
}

table{
	display: inline;
	border-collapse: collapse;
	width: 100%;
}

table:hover{
}

th{
	text-align: center;
	font-weight: normal;
}

td{
	padding:0;
	text-align: center;
	min-width: 30px; /* max size constant*/
}
.row{
	border-bottom: 1px solid rgba(200, 200, 200, 0.4);
	height:45px;
	background:rgba(200, 200, 200, 0.1);
}

body{
	font-family: 'Bebas Neue';
	color:gray;
}